html {
    background-repeat: no-repeat;
    width: auto;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img {
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(hatter.jpg);
    padding-right: 10px;
    padding-left: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgreen;
}

.tmb {
    font-weight: bold;
    margin: 10px 10px;
}
@keyframes vidrak {
    0%   {left:0px; top:0px;}
    25%  {right:200px; top:0px;}
    50%  {right:200px; top:100px;}
    75%  {left:0px; top:100px;}
    100% {left:0px; top:0px;}
  }
    .elso {
        position: relative;
        animation-name: vidrak;
        animation-duration: 1s;
        animation-delay: 0s;
      }
    .masodik {
        position: relative;
        animation-name: vidrak;
        animation-duration: 1.2s;
        animation-delay: 0s;
}
    .harmadik {
        position: relative;
        animation-name: vidrak;
        animation-duration: 1.4s;
        animation-delay: 0s;
}
    .negyedik {
        position: relative;
        animation-name: vidrak;
        animation-duration: 1.6s;
        animation-delay: 0s;
}